.env
.env.*
!.env.example

.venv/
.local/
__pycache__/
*.py[cod]
*.sqlite3

media/
staticfiles/

celerybeat-schedule
celerybeat-schedule.db
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

.DS_Store
Thumbs.db
desktop.ini

*.log
