[Unit]
Description=QvaTel Billing Celery Worker
After=network.target redis-server.service

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/qvatel-billing
EnvironmentFile=/opt/qvatel-billing/.env
ExecStart=/opt/qvatel-billing/.venv/bin/celery -A config worker -l info
Restart=always

[Install]
WantedBy=multi-user.target
